
/**
* -------------
* Global Styles
* -------------
*/

body {
  /* Default font family and font color */
}

p, li, textarea, label, input, select {
  /* Default font size and line height */
}


.ULTRAVISION {
  font-family: Poppins;
  font-size: 88px;
  font-weight: 900;
  text-align: center;
  color: #ffffff; 
}

.COMPUTER {
  font-family: Poppins;
  font-size: 38px;
  font-weight: 900;
  text-align: center;
  color: #ffffff;
}

.ITSACOMPUTER {
  font-family: Poppins;
  font-size: 40px;
  font-weight: 900;
  text-align: center;
  color: var(--Ultravision-Black);
}

.BOITE2{
  width: 640px;
  height: 412px;
}
.title2 {
  width: 640px;
  height: 33px;
  font-family: Poppins;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  color: var(--Ultravision-Black);
}

.BOITE3 {
  width: 654px;
  height: 282px;
}
.title3 {
  width: 654px;
  height: 66px;
  font-family: Poppins;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  color: var(--Ultravision-Black);
}

.corps {
  font-family: Poppins;
  font-size: 16px;
  text-align: justify;
  color: var(--Ultravision-Black);
}




h2 {
  /* Default font, size, and margins */
}

h3 {
  /* Default font, size, and margins */
}

h4 {
  /* Default font, size, and margins */
}

h5 {
  /* Default font, size, and margins */
}

h6 {
  /* Default font, size, and margins */
}


a {
  /* Link color */
}

a:hover {
  /* Link color on mouse over */
}


/**
* ------
* Layout
* ------
*/




/**
* ----------
* Components
* ----------
*/