
/**
* -------------
* Global Styles
* -------------
*/


.ULTRAVISION {
  font-family: Poppins;
  font-size: 88px;
  font-weight: 900;
  text-align: center;
  color: #ffffff; 
  background-color: gold;
}

.section-title {
  font-family: Poppins;
  font-size: 38px;
  font-weight: 900;
  text-align: center;
  color: #ffffff;
  background-color: orange;
}


.sub-title {
  font-family: Poppins;
  font-size: 40px;
  font-weight: 900;
  text-align: center;
  color: var(--Ultravision-Black);
}

.BOITE1-TEXT{
  width: 640px;
  height: 412px;
}
.titreBOITE1 {
  width: 640px;
  height: 33px;
  font-family: Poppins;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  color: var(--Ultravision-Black);
}

.BOITE3 {
  width: 654px;
  height: 282px;
}
.title3 {
  width: 654px;
  height: 66px;
  font-family: Poppins;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  color: var(--Ultravision-Black);
}

.corps {
  font-family: Poppins;
  font-size: 16px;
  text-align: justify;
  color: var(--Ultravision-Black);
}

.ADVANCE {
  width: 1440px;
  height: 56px;
}


.ADVANCEFEATURE {
  font-family: Poppins;
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  color: var(--Ultravision-Black);
}

.RED {
  width: 1440px;
  height: 640px;
}

.FUSHIA {
  width: 1440px;
  height: 640px;
}

.PURPLE {
  width: 1440px;
  height: 640px;
}

.title4 {
  width: 640px;
  height: 45px;
  font-family: Poppins;
  font-size: 32px;
  font-weight: bold;
  color: #ffffff;
}
.corps1 {
  width: 487px;
  height: 66px;
  font-family: Poppins;
  font-size: 24px;
  color: #ffffff;
}

.button {
  width: 185px;
  height: 45px;
  border-radius: 15px;
  border: solid 4px #ffffff;
}

  /* Link color */
}

a:hover {
  /* Link color on mouse over */
}


/**
* ------
* Layout
* ------
*/




/**
* ----------
* Components
* ----------
*/