
/**
* -------------
* Global Styles
* -------------
*/
 body{
   font-family: Poppins;
  }

.page {
   max-width: 1024px;
   margin: auto;
 }

 li {
   font-size: 16px;
 }


.ULTRAVISION {
  font-family: Poppins;
  font-size: 88px;
  font-weight: 900;
  text-align: center;
  color: #ffffff; 
  background-color: #fcce00;
  margin-block-start: 8px;
  margin-block-end: 0px;
}

.section-title {
  font-family: Poppins;
  font-size: 38px;
  font-weight: 900;
  text-align: center;
  color: #ffffff;
  background-color: #ff6b00;
  margin-block-start: 8px;
  margin-block-end: 0px; 
  width: 1440px;
  height: 64px;
}

.selection-rouge {
  width: 1440px;
  height: 32px;
  opacity: 0.81;
  background-color: #e02020;
  margin-block-start: 8px;
  margin-block-end: 0px;
}

.selection-fushia { 
  width: 1440px;
  height: 16px;
  opacity: 0.81;
  background-color: #b620e0;
  margin-block-start: 8px;
  margin-block-end: 0px;
} 

.selection-purple {
  width: 1440px;
  height: 8px;
  opacity: 0.81;
  background-color: #6236ff;
  margin-block-start: 8px;
  margin-block-end: 0px;
}

.sub-title {
  font-family: Poppins;
  font-size: 40px;
  font-weight: 900;
  text-align: center;
  color: var(--Ultravision-Black);
}

.titreBOITE1 {
  font-family: Poppins;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  color: var(--Ultravision-Black);
}

.corps {
  font-family: Poppins;
  font-size: 16px;
  text-align: justify;
  color: var(--Ultravision-Black);
}

.titreBOITE2 {
  font-family: Poppins;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  color: var(--Ultravision-Black);
}

.corpsBOITE2 {
  font-family: Poppins;
  font-size: 16px;
  text-align: justify;
  color: var(--Ultravision-Black);
}

.BOITE1 {
  display: flex;
  justify-content: space-between;
  flex-basis: 0;
  flex-grow: 1;
  padding-left: 48px;
  padding-right: 32px;
}

.BOITE2 {
  display: flex;
  justify-content: space-between;
  flex-basis: 0;
  flex-grow: 1;
  padding-left: 48px;
  padding-right: 32px;
}

.BOITE1-TEXT {
  max-width: 50%;
  padding-left: 0px;
  padding-right: 48px;
}
.BOITE2-TEXT {
  max-width: 50%;
  padding-left: 0px;
  padding-left: 48px;
  padding-top: 48px;
}

.BOITE1-IMG{
  background: linear-gradient(#fcce00, #ffffff);
  flex-basis: 0;
  flex-grow: 1;
}

.BOITE1-IMG img {
  mix-blend-mode: darken;
}

.BOITE2-IMG  {
  background: linear-gradient(#ff6b00 , #ffffff) ; 
  flex-basis: 0;
  flex-grow: 1;
  margin-top: 80px;
  margin-bottom: 50px;
}


.BOITE2-IMG img {
  mix-blend-mode: darken;
}



.button1 {
  font-family: Poppins;
  font-size: 20px;
  text-align: center;
  color: #fcce00;
  border: solid 4px #fcce00;
  border-radius: 15px;
  margin-top: 30px;
  padding: 10px 36px 10px 36px;
  float: right;
}


.button2 {
  font-family: Poppins;
  font-size: 20px;
  text-align: center;
  color: #ff6b00;
  border: solid 4px #ff6b00;
  border-radius: 15px;
  margin-top: 30px;
  padding: 10px 36px 10px 36px;
  float: right;
}

.button3 {
    font-family: Poppins;
    font-size: 20px;
    text-align: center;
    color: white;
    border: solid 4px white;;
    border-radius: 15px;
    margin-top: 30px;
    padding: 10px 36px 10px 36px;
}

.titreBOITE4 {
  font-family: Poppins;
  font-size: 32px;
  font-weight: 900;
  color: #ffffff;
}

.corpsBOITE4 {
  font-family: Poppins;
  font-size: 24px;
  color: #ffffff;
}

.BOITE3-IMG img {
  mix-blend-mode: darken;
}

.BOITE4-IMG img {
  mix-blend-mode: darken;
}

.BOITE5-IMG img {
  mix-blend-mode: darken;
}

.sub-titleRED {
  opacity: 0.81;
  background: linear-gradient(#e02020 , #ffffff);
  display: flex;
  justify-content: space-between;
  padding-right: 60px;
  padding-left: 60px;
  padding-top: 63px;
}

.sub-titleFUSHIA{
  opacity: 0.81;
  background: linear-gradient(#b620e0, #ffffff);
  display: flex;
  justify-content: space-between;
  padding-right: 60px;
  padding-left: 60px;
  padding-top: 63px;
}

.sub-titlePURPLE {
  opacity: 0.81;
  background: linear-gradient( #6236ff, #ffffff);
  display: flex;
  justify-content: space-between;
  padding-right: 60px;
  padding-left: 60px;
  padding-top: 63px;
}

.BOITE5-TEXT {
  font-family: Poppins;
  font-size: 40px;
  font-weight: 900;
  text-align: center;
  color: #ffffff;
  background-color: black;
}

.BOITE6-TITLE {
  font-family: Poppins;
  font-size: 40px;
  font-weight: 900;
  text-align: center;
  color: #ffffff;
  background-color: black;
  padding-top: 64px;
}

.form-row {
  background-color: black;
  font-family: Poppins;
  font-size: 16px;
  color: #ffffff;
}

.BOITEFIN {
  background-color: black;
  padding-top: 64px;
}


.ligne1{
  display: flex;
justify-content: space-between;
margin-left: 34px;
margin-right: 34px;
margin-bottom: 32px;
margin-top: 32px;
}

.ligne2{
  display: flex;
justify-content: space-between;
margin-left: 34px;
margin-right: 34px;
margin-bottom: 32px;
}

.ligne3{
  display: flex;
justify-content: space-between;
margin-left: 34px;
margin-right: 34px;
}
  /* Link color */
}


a:hover {
  /* Link color on mouse over */
}


/**
* ------
* Layout
* ------
*/




/**
* ----------
* Components
* ----------
*/